<%=wicked_pdf_image_tag "background.jpg"%>
<h3>Certificamos que <%=@participant.name%> participou como <%=@participant.participation_type%> do(a) <%=@event.name%> em <%=@event.location%>, durante o período de <%=@event.start_date.strftime('%d/%m/%Y')%> à <%=@event.end_date.strftime('%d/%m/%Y')%>, com carga horária de <%=@event.workload%> hora(s).</h3>
