<%= wicked_pdf_image_tag "backgrounds/#{@event.template}.jpg" %>

<h3 class="center" style="padding-left: 40px;">
    Certificamos que <%= @participant.name %> participou como <%= @participant.participation_type %> do <%= @event.name %> no <%= @event.location %>,
    durante formatar_data(@event.start_date, @event.end_date),
    com carga horária total de <%= @event.workload %> horas.
</h3>
